*{ 
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
  }
#container{
    width: 100vw;
    height: 100vh;
    background-image:url("tree.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box{
    width: 380px;
    background-color: rgba(255, 255, 255, 0.088);
    border-radius: 6px;
    box-shadow: -1px -1px 9px 1px rgb(103, 103, 103);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
#box1{
    font-size: 30px;
    margin: 30px 0px;
    font-family: 'Signika', sans-serif;
}
#box2{
    width: 280px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
input{
    width: 210px;
    padding: 0px 5px;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: whitesmoke;
}
button{
    width: 70px;
    background-color:rgb(26, 105, 162);
    color: white;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 15px;
}
#box3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
    font-size: 25px;
}
.details{
    margin: 10px 0px;
    font-family: 'Exo', sans-serif;
}
#icon{
    font-size: 50px;
}
span{
    font-size: 35px;
}


.footer{
    width: 100vw;
    text-align: center;
    position: fixed;
    bottom: 0px;
    background-color: rgb(43, 43, 112);
    color: white;
    padding: 6px;
}